

.cart__click{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    &hover{
        color: darken($color: #ffff, $amount: 20);
    }
}



.cart_img{
    width: 100%;
}

.cart_cell{
    width: 200px;
    align-items: center;
}

