//color

$pryme: #4d83c2;
$base: #4f4e61;
$second: #78a1ad;

$light-grey: #9aa0a7;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$blue: #132743;
$grey: #686d76;
$darkwhite: #eeecda;
$gold: #edc988;
$green: #9ad3bc;
$yellow: #e0e74d;
$yellow2: #e2ec26;
$pink: #f07474;
$red: #f36262;
$highlight: #2ec1ac;

$green: #389763;

//389763